.toast {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 1.25rem;
  right: 1.25rem;
  background: var(--gray200);
  color: var(--black900);
  padding: 1.8rem;
  border-radius: 0.313rem;
  width: 18rem;
  height: auto;
  transform: translateX(100%);
  transition: transform 0.5s;
}

.toastEnter {
  transform: translateX(0);
  /* transition: transform 0.5s; */
}

.toastLeave {
  transform: translateX(100%);
  /* transition: transform 0.5s; */
}

.x-mark {
  position: relative;
  width: 1.5rem;
  height: 1.5rem;
}

.fixedDiv {
  position: absolute;
  top: 0.1rem;
  right: 0.5rem;
  cursor: pointer;
}

.x-mark::before,
.x-mark::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0.1rem;
  height: 100%;
  background-color: var(--gray800);
  transform-origin: center;
}

.x-mark::before {
  transform: translate(-50%, -50%) rotate(45deg);
}

.x-mark::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}
