.main-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.main-container img {
  width: 2.4rem;
  cursor: pointer;
}

.main-container span {
  transition: color 0.3s ease-in;
}

.main-container span:hover {
  cursor: pointer;
  color: var(--gray600);
}
