<section class="MainSection">
  <div class="DivInput">
    <input type="text" placeholder="Search..." />
  </div>
  <div>
    <nav>
      <ul class="SocialNetworks">
        <li>
          <a href="/" target="_blank">
            <img src="/assets/Images/facebook.png" alt="" />
          </a>
        </li>
        <li>
          <a href="/" target="_blank">
            <img src="/assets/Images/instagram.png" alt="" />
          </a>
        </li>
        <li>
          <a href="/" target="_blank">
            <img src="/assets/Images/linkedin.png" alt="" />
          </a>
        </li>
        <li>
          <a href="/" target="_blank">
            <img src="/assets/Images/twitter.png" alt="" />
          </a>
        </li>
        <li>
          <a href="/" target="_blank">
            <img src="/assets/Images/youtube.png" alt="" />
          </a>
        </li>
      </ul>
    </nav>
  </div>
</section>
