@keyframes animationLazy {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes disableAnimationLazy {
  from {
    transform: translateX(0%);
    opacity: 1;
  }
  to {
    transform: translateX(-100%);
    opacity: 0;
  }
}

@media only screen and (min-width: 320px) and (max-width: 479px) {
  .header .navegation-auth {
    display: none;
  }

  .header {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    padding: 0.8rem 1rem 0.8rem 1rem;
  }

  .containerInput {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .header .title-attorney {
    font-size: 1.1rem;
    font-weight: 600;
  }

  .main {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    width: calc(100% - 3rem);
    margin: 0 auto;
  }

  .button-menu {
    border: none;
    cursor: pointer;
    justify-self: end;
    z-index: 2;
    outline: none;
  }

  .button-menu .menu {
    width: 1.5rem;
    background: transparent;
  }

  .content-menu {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 80%;
    height: 100%;
    background: var(--gray300);
    z-index: 11;
    user-select: none;
    transform: translateX(-100%);
  }

  .content-menu.visible {
    animation: animationLazy 1s forwards;
  }

  .content-menu.disableMenu {
    animation: disableAnimationLazy 1s forwards;
  }

  .background-disable {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--gray400);
    opacity: 50%;
    z-index: 10;
  }

  .content-menu h1 {
    font-size: 1.3rem;
    margin: 1rem 0 1rem 0;
    padding: 0.5rem;
    cursor: pointer;
    font-weight: 600;
  }

  .content-menu summary {
    cursor: pointer;
    list-style: none;
    padding: 0.5rem;
    font-size: 1.1rem;
  }

  .content-menu details {
    color: var(--blackFull);
  }

  .content-menu details ul {
    margin-left: 1.8rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .search {
    grid-column: span 2;
  }

  .search input {
    padding: 0.5rem;
    border-radius: 0.5rem;
    font-size: 0.9rem;
    box-sizing: border-box;
    width: calc(100vw - 7rem);
  }
}

@media only screen and (min-width: 767px) {
  .button-menu {
    display: none;
  }
}

@media only screen and (min-width: 480px) and (max-width: 768px) {
  .header {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    padding: 0.8rem 1rem 0.8rem 1rem;
  }

  .navegation-auth {
    display: none;
  }

  .button-menu {
    width: 1.6rem;
    justify-self: end;
    border: none;
    cursor: pointer;
  }

  .button-menu .menu {
    width: 100%;
  }

  .containerInput {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .containerInput input {
    padding: 0.5rem;
    border-radius: 0.3rem;
    width: 20rem;
    font-size: 0.9rem;
  }

  .main {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    width: calc(100% - 4rem);
    margin: 0 auto;
  }

  .button-menu {
    border: none;
    cursor: pointer;
    justify-self: end;
    z-index: 2;
    outline: none;
  }

  .button-menu .menu {
    width: 1.5rem;
    background: transparent;
  }

  .content-menu {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 80%;
    height: 100%;
    background: var(--gray300);
    z-index: 11;
    user-select: none;
    transform: translateX(-100%);
  }

  .content-menu.visible {
    animation: animationLazy 1s forwards;
  }

  .content-menu.disableMenu {
    animation: disableAnimationLazy 1s forwards;
  }

  .background-disable {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--gray400);
    opacity: 50%;
    z-index: 10;
  }

  .content-menu h1 {
    font-size: 1.3rem;
    margin: 1rem 0 1rem 0;
    padding: 0.5rem;
    cursor: pointer;
    font-weight: 600;
  }

  .content-menu summary {
    cursor: pointer;
    list-style: none;
    padding: 0.5rem;
    font-size: 1.1rem;
  }

  .content-menu details {
    color: var(--blackFull);
  }

  .content-menu details ul {
    margin-left: 1.8rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .content-menu ul a {
    color: var(--orange800);
  }

  .search {
    grid-column: span 2;
  }

  .search input {
    padding: 0.5rem;
    border-radius: 0.5rem;
    font-size: 0.9rem;
    box-sizing: border-box;
    width: calc(100vw - 7rem);
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    padding: 0.8rem 1.5rem 0.8rem 1.5rem;
  }

  .containerInput {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
    grid-column: 1;
  }

  .containerInput input {
    padding: 0.4rem;
    border-radius: 0.3rem;
    flex: 1 1 auto;
    width: 25rem;
  }

  .content-nav {
    justify-self: end;
    grid-column: 2;
  }

  .navegation-auth ul {
    display: flex;
    gap: 0.7rem;
  }

  .navegation-auth ul li {
    list-style: none;
  }
}

@media only screen and (min-width: 1025px) {
  .header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0.5rem;
  }

  .containerInput {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .navegation-auth ul {
    display: flex;
    align-items: center;
  }

  .search input {
    padding: 0.5rem;
    border-radius: 0.8rem;
    width: 20rem;
    font-size: 1rem;
  }

  .navegation-auth ul {
    display: flex;
    gap: 0.7rem;
  }
}
