.MainSection {
  display: flex;
  justify-content: space-around;
  background: var(--gray200);
  padding: 1rem;
}

.DivInput input {
  padding: 0.5rem;
  border-radius: 0.8rem;
  font-size: 1rem;
  border: 0.1rem solid var(--gray150);
}

.DivInput input:focus {
  outline: none;
  border-color: var(--blue100);
  box-shadow: 0 0 0 0.13rem rgba(66, 153, 225, 0.5);
}

.SocialNetworks {
  display: flex;
  gap: 0.5rem;
}

.SocialNetworks li {
  list-style: none;
}

.SocialNetworks li img {
  width: 30px;
  height: 30px;
}
