<div class="ContainerRegisterForm">
  <form [formGroup]="registerForm" class="FormRegister">
    <div>
      <label>
        <input
          formControlName="name"
          class="InputName"
          type="text"
          placeholder="nome completo"
        />
        <img
          src="/assets/Images/alertCicle.svg"
          alt="icone de alerta"
          [title]="registerForm.controls['name'].errors?.['fullNameError']"
          class="AlertCircle"
          [ngClass]="{
            HiddenAlert:
              !registerForm.controls['name'].touched ||
              registerForm.controls['name'].valid
          }"
        />
      </label>
    </div>
    <div>
      <label>
        <input
          formControlName="email"
          class="InputEmail"
          type="email"
          placeholder="email"
        />
        <img
          title="formato de email inválido"
          src="/assets/Images/alertCicle.svg"
          alt="icone de alerta"
          class="AlertCircle"
          [ngClass]="{
            HiddenAlert:
              !registerForm.controls['email'].touched ||
              registerForm.controls['email'].valid
          }"
        />
      </label>
    </div>
    <div>
      <label class="LabelPassword">
        <input
          formControlName="password"
          class="InputPassword"
          type="password"
          #passwordInput
          placeholder="senha"
          [type]="SHOW_PASSWORD ? 'text' : 'password'"
        />
        <img
          class="OpenEye"
          src="/assets/Images/{{ SHOW_PASSWORD ? 'eyeOff.svg' : 'eye.svg' }}"
          alt="imagem olhos abertos"
          (mousedown)="togglePasswordVisibility($event)"
        />
        <img
          title="a senha deve conter no mínimo 8 caracteres"
          src="/assets/Images/alertCicle.svg"
          alt="icone de alerta"
          class="AlertCircle"
          [ngClass]="{
            HiddenAlert:
              !registerForm.controls['password'].touched ||
              registerForm.controls['password'].valid
          }"
        />
      </label>
    </div>
    <div>
      <label class="LabelPassword">
        <input
          formControlName="repeatPassword"
          class="InputPassword"
          [type]="SHOW_REPEAT_PASSWORD ? 'text' : 'password'"
          placeholder="repetir senha"
          (blur)="checkIdenticalPasswords()"
        />
        <img
          class="OpenEye"
          src="/assets/Images/{{
            SHOW_REPEAT_PASSWORD ? 'eyeOff.svg' : 'eye.svg'
          }}"
          alt="imagem olhos abertos"
          (mousedown)="toggleRepeatPasswordVisibility($event)"
        />
        <img
          [title]="registerForm.controls['repeatPassword'].errors?.['identicalPasswordsError']"
          src="/assets/Images/alertCicle.svg"
          alt="icone de alerta"
          class="AlertCircle"
          [ngClass]="{
            HiddenAlert:
              !registerForm.controls['repeatPassword'].touched ||
              registerForm.controls['repeatPassword'].valid
          }"
        />
      </label>
    </div>
    <div>
      <label>
        <input
          formControlName="birthdate"
          class="InputDate"
          type="date"
          placeholder="aniversário"
        />
        <img
          title="formato dd/mm/aaaa"
          src="/assets/Images/alertCicle.svg"
          alt="icone de alerta"
          class="AlertCircle"
          [ngClass]="{
            HiddenAlert:
              !registerForm.controls['birthdate'].touched ||
              registerForm.controls['birthdate'].valid
          }"
        />
      </label>
    </div>
    <div>
      <label>
        <input
          formControlName="phone"
          class="InputPhone"
          type="tel"
          placeholder="telefone"
        />
        <img
          title="formato inválido"
          src="/assets/Images/alertCicle.svg"
          alt="icone de alerta"
          class="AlertCircle"
          [ngClass]="{
            HiddenAlert:
              !registerForm.controls['phone'].touched ||
              registerForm.controls['phone'].valid
          }"
        />
      </label>
    </div>
    <div>
      <a href="/forgot-password">Esqueceu a senha?</a>
    </div>
    <input class="InputSubmit" type="submit" value="Login" />
  </form>
</div>
