<div class="ContainerRegisterForm">
  <!-- <div class="ContainerToast"> -->
  <app-toast [message]="TOAST_MESSAGE" />
  <!-- </div> -->
  <form (ngSubmit)="onSubmit()" [formGroup]="registerForm" class="FormRegister">
    <div>
      <label>
        <input
          formControlName="name"
          class="InputName"
          type="text"
          placeholder="nome completo"
          #nameInput
          (blur)="blurNameField()"
          (focus)="focusNameField()"
        />
        <img
          [title]="registerForm.controls['name'].errors?.['nameFieldError']"
          *ngIf="registerForm.controls['name'].hasError('nameFieldError')"
          src="/assets/Images/alertCicle.svg"
          alt=""
          class="AlertCircle"
        />
      </label>
    </div>
    <div>
      <label>
        <input
          formControlName="email"
          class="InputEmail"
          type="email"
          placeholder="email"
          [ngClass]="{ ErrorInput: registerForm.controls['email'].errors?.['emailFieldError']}"
          #emailInput
          (blur)="blurEmailField()"
          (focus)="focusEmailField()"
        />
        <img
          [title]="registerForm.controls['email'].errors?.['emailFieldError']"
          *ngIf="registerForm.controls['email'].hasError('emailFieldError')"
          src="/assets/Images/alertCicle.svg"
          alt=""
          class="AlertCircle"
        />
      </label>
    </div>
    <div>
      <label class="LabelPassword">
        <input
          formControlName="password"
          class="InputPassword"
          type="password"
          placeholder="senha"
          [type]="SHOW_PASSWORD ? 'text' : 'password'"
          #passwordInput
          (blur)="blurPasswordField()"
          (focus)="focusPasswordField()"
        />
        <img
          class="OpenEye"
          src="/assets/Images/{{ SHOW_PASSWORD ? 'eyeOff.svg' : 'eye.svg' }}"
          alt="imagem olhos abertos"
          (click)="togglePasswordVisibility($event)"
        />
        <img
          [title]="registerForm.controls['password'].errors?.['errorPasswordField']"
          *ngIf="
            registerForm.controls['password'].hasError('errorPasswordField')
          "
          src="/assets/Images/alertCicle.svg"
          alt=""
          class="AlertCircle"
        />
      </label>
    </div>
    <div>
      <label class="LabelPassword">
        <input
          formControlName="repeatPassword"
          class="InputPassword"
          [type]="SHOW_REPEAT_PASSWORD ? 'text' : 'password'"
          placeholder="repetir senha"
          (blur)="checkIdenticalPasswords()"
          (focus)="focusRepeatPasswordField()"
          #repeatPasswordInput
        />
        <img
          class="OpenEye"
          src="/assets/Images/{{
            SHOW_REPEAT_PASSWORD ? 'eyeOff.svg' : 'eye.svg'
          }}"
          alt="imagem olhos abertos"
          (click)="toggleRepeatPasswordVisibility($event)"
        />
        <img
          [title]="registerForm.controls['repeatPassword'].errors?.['repeatPasswordFieldError']"
          *ngIf="
            registerForm.controls['repeatPassword'].hasError(
              'repeatPasswordFieldError'
            )
          "
          src="/assets/Images/alertCicle.svg"
          alt=""
          class="AlertCircle"
        />
      </label>
    </div>
    <div>
      <label>
        <input
          formControlName="birthdate"
          class="InputDate"
          type="date"
          placeholder="aniversário"
          #birthdateInput
          (blur)="blurBirthdateField()"
          (focus)="focusBirthdateField()"
        />
        <img
          [title]="registerForm.controls['birthdate'].errors?.['birthdateFieldError']"
          *ngIf="
            registerForm.controls['birthdate'].hasError('birthdateFieldError')
          "
          src="/assets/Images/alertCicle.svg"
          alt=""
          class="AlertCircle"
        />
      </label>
    </div>
    <div>
      <label>
        <input
          formControlName="phone"
          class="InputPhone"
          type="tel"
          placeholder="telefone"
          #phoneInput
          (blur)="blurPhoneField()"
          (focus)="focusPhoneField()"
        />
        <img
          [title]="registerForm.controls['phone'].errors?.['phoneFieldError']"
          *ngIf="registerForm.controls['phone'].hasError('phoneFieldError')"
          src="/assets/Images/alertCicle.svg"
          alt=""
          class="AlertCircle"
        />
      </label>
    </div>
    <div>
      <a href="/forgot-password">Esqueceu a senha?</a>
    </div>
    <input class="InputSubmit" type="submit" value="Login" />
  </form>
</div>
