.ContainerRegisterForm {
  display: flex;
  width: 100%;
}

.FormRegister {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  height: auto;
}

.FormRegister .InputEmail,
.FormRegister .InputPassword,
.FormRegister .InputName,
.FormRegister .InputDate,
.FormRegister .InputPhone {
  padding: 0.6rem;
  border: none;
  background: var(--gray150);
  border: 0.1rem solid var(--gray300);
  width: 17rem;
  color: var(--black900);
  font-size: 1rem;
  box-sizing: border-box;
}

.FormRegister .InputEmail:focus,
.FormRegister .InputPassword:focus,
.FormRegister .InputName:focus,
.FormRegister .InputDate:focus,
.FormRegister .InputPhone:focus {
  outline: none;
}

.LabelPassword .OpenEye {
  position: absolute;
  right: 0.2rem;
  top: 0.5rem;
  width: 1.7rem;
  z-index: 2;
}

.LabelPassword .InputPassword {
  padding-right: 2.3rem;
}

.FormRegister a {
  color: var(--blue200);
  outline: none;
}

.FormRegister label img {
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
}

.FormRegister label {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  position: relative;
}

.FormRegister .InputSubmit {
  width: 100%;
  font-size: 1rem;
  padding: 0.6rem;
  background: var(--blue100);
  border: none;
  color: var(--white900);
  transition: background 0.3s ease, color 0.3s ease;
  border-radius: 0.2rem;
  cursor: pointer;
}

.FormRegister .InputSubmit:hover {
  background: var(--blue150);
  color: var(--whiteFull);
}

.FormRegister .AlertCircle {
  position: absolute;
  right: -1.7rem;
  top: 0.5rem;
}

.ErrorInput {
  border: 0.1rem solid var(--red800) !important;
}

.AcceptInput {
  border: 0.1rem solid var(--green100) !important;
}
