.ContainerRegisterForm {
  display: flex;
  width: 100%;
}

.FormRegister {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.FormRegister .InputEmail,
.FormRegister .InputPassword,
.FormRegister .InputName,
.FormRegister .InputDate,
.FormRegister .InputPhone {
  padding: 0.6rem;
  border: none;
  background: var(--gray150);
  border: 0.1rem solid var(--gray300);
  width: 17rem;
  color: var(--black900);
  font-size: 1rem;
}

.FormRegister .InputEmail:focus,
.FormRegister .InputPassword:focus,
.FormRegister .InputName:focus,
.FormRegister .InputDate:focus,
.FormRegister .InputPhone:focus {
  outline: none;
}

.FormRegister a {
  color: var(--blue200);
}

.FormRegister label img {
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
}

.FormRegister label {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  position: relative;
}

.FormRegister .InputSubmit {
  width: 100%;
  font-size: 1rem;
  padding: 0.6rem;
  background: var(--blue100);
  border: none;
  color: var(--white900);
  transition: background 0.3s ease, color 0.3s ease;
  border-radius: 0.2rem;
}

.FormRegister .InputSubmit:hover {
  background: var(--blue150);
  color: var(--whiteFull);
}

.FormRegister .AlertCircle {
  position: absolute;
  right: -1.7rem;
  top: 0.5rem;
}

.HiddenAlert {
  display: none;
}
