<main class="main-container">
  <section class="section-posts">
    <ul class="list-posts">
      <li *ngFor="let post of posts">
        <article>
          <a href="/">
            <img src="/assets/Images/justica.jpg" alt="{{ post.title }}" />
          </a>
          <div></div>

          <h3>{{ post.title }}</h3>
          <p></p>
          <p class="author-name">
            Autor: <span>{{ post.author.name }}</span>
          </p>
          <p></p>
          <p class="date">
            Criado em: <span>{{ post.created_at }}</span>
          </p>
        </article>
      </li>
    </ul>
  </section>
</main>
