@media only screen and (min-width: 1025px) {
  .main .list-posts {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 12rem;
    padding: 0.5rem 0.5rem;
    gap: 2rem;
    min-height: 85vh;
  }

  .list-posts li img {
    max-width: 12rem;
    aspect-ratio: 1;
    object-fit: cover;
  }

  .list-posts li {
    position: relative;
  }

  .list-posts {
    max-height: 30rem;
    overflow-y: auto;
  }

  .list-posts .items {
    display: flex;
    gap: 1.3rem;
    align-items: center;
  }

  .list-posts .align {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
  }

  .list-posts .title {
    max-width: 10rem;
    overflow: hidden;
  }

  ::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb {
    background: var(--gray400);
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  .edit-container {
    display: flex;
    gap: 1rem;
    position: absolute;
    top: 0;
    right: 0;
  }

  .edit-container button {
    border: none;
    background: none;
    cursor: pointer;
  }

  .edit-container img {
    width: 1.3rem;
  }
}
