@media only screen and (min-width: 1025px) {
  .section-posts .list-posts {
    display: flex;
    flex-wrap: wrap;
    padding: 0.5rem 0.5rem;
    gap: 1.5rem;
  }

  .list-posts li img {
    width: 11rem;
  }

  .list-posts {
    max-height: 30rem;
    overflow-y: auto;
  }

  .list-posts .items {
    display: flex;
    gap: 1.3rem;
    align-items: center;
  }

  .list-posts .align {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
  }

  .list-posts .title {
    max-width: 10rem;
    overflow: hidden;
  }

  ::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb {
    background: var(--gray400);
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}
