<main class="main-container">
  <section class="section-posts">
    <ul class="list-posts">
      <li *ngFor="let post of posts">
        <article class="items">
          <a href="/">
            <img
              src="http://localhost:3000/{{ post.image_path }}"
              alt="{{ post.title }}"
            />
          </a>

          <div class="align">
            <div class="title">
              <h3>{{ post.title }}</h3>
            </div>

            <p class="author-name">
              Autor: <span>{{ post.author.name }}</span>
            </p>
            <p class="date">
              Criado em: <span>{{ post.formattedDate }}</span>
            </p>
          </div>
        </article>
      </li>
    </ul>
  </section>
</main>
