<main class="MainRegisterForm">
  <div class="toastContainer">
    <app-toast [message]="TOAST_MESSAGE" />
  </div>
  <form (ngSubmit)="onSubmit()" [formGroup]="registerForm" class="FormRegister">
    <div class="RedirectHome">
      <a href="/">
        <img
          src="/assets/Images/home.png"
          alt="Página inicial"
          title="Página inicial"
        />
      </a>
    </div>
    <div>
      <h1>Cadastro</h1>
    </div>
    <div>
      <label>
        <input
          formControlName="name"
          class="InputName"
          type="text"
          placeholder="nome completo"
          #nameInput
          (blur)="blurNameField()"
          (focus)="focusNameField()"
        />
        <img
          [title]="registerForm.controls['name'].errors?.['nameFieldError']"
          *ngIf="registerForm.controls['name'].hasError('nameFieldError')"
          src="/assets/Images/alertCicle.svg"
          alt=""
          class="AlertCircle"
        />
      </label>
    </div>
    <div>
      <label>
        <input
          formControlName="email"
          class="InputEmail"
          type="email"
          placeholder="email"
          [ngClass]="{ ErrorInput: registerForm.controls['email'].errors?.['emailFieldError']}"
          #emailInput
          (blur)="blurEmailField()"
          (focus)="focusEmailField()"
        />
        <img
          [title]="registerForm.controls['email'].errors?.['emailFieldError']"
          *ngIf="registerForm.controls['email'].hasError('emailFieldError')"
          src="/assets/Images/alertCicle.svg"
          alt=""
          class="AlertCircle"
        />
      </label>
    </div>
    <div>
      <label>
        <input
          formControlName="password"
          class="InputPassword"
          placeholder="senha"
          [type]="SHOW_PASSWORD ? 'text' : 'password'"
          #passwordInput
          (blur)="blurPasswordField()"
          (focus)="focusPasswordField()"
          required
        />
        <img
          class="ImageEye"
          src="/assets/Images/{{ SHOW_PASSWORD ? 'eyeOff.svg' : 'eye.svg' }}"
          alt="imagem olhos abertos"
          (click)="togglePasswordVisibility($event)"
        />
        <img
          [title]="registerForm.controls['password'].errors?.['errorPasswordField']"
          *ngIf="
            registerForm.controls['password'].hasError('errorPasswordField')
          "
          src="/assets/Images/alertCicle.svg"
          alt=""
          class="AlertCircle"
        />
      </label>
    </div>
    <div>
      <label>
        <input
          formControlName="repeatPassword"
          class="InputPassword"
          [type]="SHOW_REPEAT_PASSWORD ? 'text' : 'password'"
          placeholder="repetir senha"
          (blur)="checkIdenticalPasswords()"
          (focus)="focusRepeatPasswordField()"
          #repeatPasswordInput
        />
        <img
          class="ImageEye"
          src="/assets/Images/{{
            SHOW_REPEAT_PASSWORD ? 'eyeOff.svg' : 'eye.svg'
          }}"
          alt="imagem olhos abertos"
          (click)="toggleRepeatPasswordVisibility($event)"
        />
        <img
          [title]="registerForm.controls['repeatPassword'].errors?.['repeatPasswordFieldError']"
          *ngIf="
            registerForm.controls['repeatPassword'].hasError(
              'repeatPasswordFieldError'
            )
          "
          src="/assets/Images/alertCicle.svg"
          alt=""
          class="AlertCircle"
        />
      </label>
    </div>
    <div>
      <label>
        <input
          formControlName="birthdate"
          class="InputDate"
          type="date"
          placeholder="aniversário"
          #birthdateInput
          (blur)="blurBirthdateField()"
          (focus)="focusBirthdateField()"
        />
        <img
          [title]="registerForm.controls['birthdate'].errors?.['birthdateFieldError']"
          *ngIf="
            registerForm.controls['birthdate'].hasError('birthdateFieldError')
          "
          src="/assets/Images/alertCicle.svg"
          alt=""
          class="AlertCircle"
        />
      </label>
    </div>
    <div>
      <label>
        <input
          formControlName="phone"
          class="InputPhone"
          type="tel"
          placeholder="telefone"
          #phoneInput
          (blur)="blurPhoneField()"
          (focus)="focusPhoneField()"
        />
        <img
          [title]="registerForm.controls['phone'].errors?.['phoneFieldError']"
          *ngIf="registerForm.controls['phone'].hasError('phoneFieldError')"
          src="/assets/Images/alertCicle.svg"
          alt=""
          class="AlertCircle"
        />
      </label>
    </div>
    <div class="ContainerRedirect">
      <p>Já possui uma conta? <a href="/login">Login</a></p>
      <p>
        Não se preocupe, nosso site é seguro! Ao criar sua conta você concorda
        com nossa
        <a href="policy-privacy">Política de privacidade</a>
      </p>
    </div>
    <input class="InputSubmit" type="submit" value="Cadastrar" />
  </form>
</main>
