<main class="MainPostCreator">
  <form class="FormPost">
    <section class="RedirectAndTitle">
      <div>
        <a title="Página inicial" href="/" class="redirectHome">
          <img src="/assets/Images/home.png" alt="" />
        </a>
      </div>
      <div>
        <h1>Criar Post</h1>
      </div>
    </section>

    <div>
      <label>
        Título do post
        <textarea name="" class="title"></textarea>
      </label>
    </div>
    <div>
      <label
        >Descrição do post
        <textarea name="" class="description"> </textarea>
      </label>
    </div>

    <section class="FileAndSubmit">
      <div>
        <label><input type="file" /></label>
      </div>
      <div>
        <input type="submit" value="Criar post" />
      </div>
    </section>
  </form>
</main>
