<main class="MainPostCreator">
  <form class="FormPost">
    <a title="Página inicial" href="/" class="redirectHome">
      <img src="/assets/Images/home.png" alt="" />
    </a>
    <div>
      <label>
        Título do post
        <textarea name="" class="title"></textarea>
      </label>
    </div>
    <div>
      <label
        >Descrição do post
        <textarea name="" class="description"> </textarea>
      </label>
    </div>
    <div>
      <label><input type="file" /></label>
    </div>
    <div>
      <input type="submit" value="Criar post" />
    </div>
  </form>
</main>
