<header class="header">
  <a href="/">
    <h1 class="title-attorney">Amanda Stephany</h1>
  </a>
  @if(showMenu) {
  <div (click)="disableMenu()" class="background-disable"></div>
  <div #menuHidden class="content-menu visible">
    <h1>Advocacia Santana</h1>
    <details>
      <summary>Conta</summary>
      <ul>
        <li>
          <a href="/auth-user/login">Login</a>
        </li>
        <li>
          <a href="/auth-user/cadastro">Cadastro</a>
        </li>
        <li>
          <a href="/">Sair</a>
        </li>
      </ul>
    </details>
    <details>
      <summary><a href="/sobre">Sobre</a></summary>
    </details>
  </div>
  }
  <button type="button" (click)="toggleMenu()" class="button-menu">
    <img class="menu" src="/assets/Images/menu-hamburguer.svg" alt="menu" />
  </button>
  <div class="search">
    <input type="text" placeholder="procure..." />
  </div>
  <div>
    <nav class="navegation-auth">
      <ul>
        <li>
          <a href="/auth-user/login">Login</a>
        </li>
        <li>
          <a href="/auth-user/cadastro">Crie sua conta</a>
        </li>
      </ul>
    </nav>
  </div>
</header>

<main class="Main">
  <section class="attorneyInfo">
    <div>
      <img src="/assets/Images/amanda3.png" alt="Amanda Stephany" />
    </div>
    <div>
      <div class="aboutAttorney">
        <h1>
          Quem é Amanda<br />
          Stephany?
        </h1>
        <p>
          Amanda Stephany é uma advogada especializada em direitos bancários,
          com vasta experiência na área.
        </p>
        <p>
          Ela possui uma formação sólida em direito e tem se destacado por sua
          expertise no campo dos direitos relacionados a transações bancárias,
          contratos financeiros e litígios envolvendo instituições financeiras.
        </p>
        <p>
          Com um profundo conhecimento das leis e regulamentos do setor
          bancário, Amanda é reconhecida por sua capacidade de oferecer soluções
          jurídicas eficazes para seus clientes.
        </p>
        <p>
          Sua habilidade em lidar com questões complexas e sua dedicação em
          proteger os interesses de seus clientes fazem dela uma profissional
          <span> altamente respeitada e confiável no mercado jurídico. </span>
        </p>
      </div>
      <div class="redirectToAbout">
        <a href="/about-amanda">Ler mais...</a>
      </div>
    </div>
  </section>
  <section class="latestPost">
    <div class="titleLatest">
      <h1>Mais recente</h1>
    </div>
    <div class="containerPost">
      <div class="post">
        <div>
          <a href="/">
            <img
              src="/assets/Images/advocacia.png"
              width="450"
              height="350"
              alt=""
            />
          </a>
        </div>

        <div class="datePost">
          <a href="/">
            <p>Criado em:</p>
          </a>
          <a href="/">
            <span>Maio, 10 2024</span>
          </a>
        </div>

        <div class="aboutPost">
          <a href="/">
            <h1>O que fazer quando o banco cobra juros</h1>
          </a>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard dummy text
            ever since the 1500s, when an unknown printer took a galley of type
            and scrambled it to make a type specimen book.
          </p>
        </div>
      </div>

      <div class="post">
        <div>
          <a href="/">
            <img
              src="/assets/Images/advocacia.png"
              width="450"
              height="350"
              alt=""
            />
          </a>
        </div>

        <div class="datePost">
          <a href="/">
            <p>Criado em:</p>
          </a>
          <a href="/">
            <span>Maio, 10 2024</span>
          </a>
        </div>

        <div class="aboutPost">
          <a href="/">
            <h1>O que fazer quando o banco cobra juros</h1>
          </a>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard dummy text
            ever since the 1500s, when an unknown printer took a galley of type
            and scrambled it to make a type specimen book.
          </p>
        </div>
      </div>

      <div class="post">
        <div>
          <a href="/">
            <img
              src="/assets/Images/advocacia.png"
              width="450"
              height="350"
              alt=""
            />
          </a>
        </div>

        <div class="datePost">
          <a href="/">
            <p>Criado em:</p>
          </a>
          <a href="/">
            <span>Maio, 10 2024</span>
          </a>
        </div>

        <div class="aboutPost">
          <a href="/">
            <h1>O que fazer quando o banco cobra juros</h1>
          </a>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard dummy text
            ever since the 1500s, when an unknown printer took a galley of type
            and scrambled it to make a type specimen book.
          </p>
        </div>
      </div>

      <div class="post">
        <div>
          <a href="/">
            <img
              src="/assets/Images/advocacia.png"
              width="450"
              height="350"
              alt=""
            />
          </a>
        </div>

        <div class="datePost">
          <a href="/">
            <p>Criado em:</p>
          </a>
          <a href="/">
            <span>Maio, 10 2024</span>
          </a>
        </div>

        <div class="aboutPost">
          <a href="/">
            <h1>O que fazer quando o banco cobra juros</h1>
          </a>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard dummy text
            ever since the 1500s, when an unknown printer took a galley of type
            and scrambled it to make a type specimen book.
          </p>
        </div>
      </div>

      <div class="post">
        <div>
          <a href="/">
            <img
              src="/assets/Images/advocacia.png"
              width="450"
              height="350"
              alt=""
            />
          </a>
        </div>

        <div class="datePost">
          <a href="/">
            <p>Criado em:</p>
          </a>
          <a href="/">
            <span>Maio, 10 2024</span>
          </a>
        </div>

        <div class="aboutPost">
          <a href="/">
            <h1>O que fazer quando o banco cobra juros</h1>
          </a>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard dummy text
            ever since the 1500s, when an unknown printer took a galley of type
            and scrambled it to make a type specimen book.
          </p>
        </div>
      </div>

      <div class="post">
        <div>
          <a href="/">
            <img
              src="/assets/Images/advocacia.png"
              width="450"
              height="350"
              alt=""
            />
          </a>
        </div>

        <div class="datePost">
          <a href="/">
            <p>Criado em:</p>
          </a>
          <a href="/">
            <span>Maio, 10 2024</span>
          </a>
        </div>

        <div class="aboutPost">
          <a href="/">
            <h1>O que fazer quando o banco cobra juros</h1>
          </a>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard dummy text
            ever since the 1500s, when an unknown printer took a galley of type
            and scrambled it to make a type specimen book.
          </p>
        </div>
      </div>
    </div>
  </section>
</main>

<footer class="footer">
  <div class="flexContainer">
    <div>
      <h1>Receba novidades em seu email</h1>
    </div>
    <div>
      <input type="text" placeholder="Digite seu Email" />
      <p>
        Não se preocupe, não compartilharemos seus dados e também não enviaremos
        spam.
      </p>
      <button type="submit">Enviar</button>
    </div>
    <div>
      <nav>
        <ul class="socialNetworks">
          <li>
            <a href="/" target="_blank">
              <img src="/assets/Images/facebook.png" alt="" />
            </a>
          </li>
          <li>
            <a href="/" target="_blank">
              <img src="/assets/Images/instagram.png" alt="" />
            </a>
          </li>
          <li>
            <a href="/" target="_blank">
              <img src="/assets/Images/linkedin.png" alt="" />
            </a>
          </li>
          <li>
            <a href="/" target="_blank">
              <img src="/assets/Images/twitter.png" alt="" />
            </a>
          </li>
          <li>
            <a href="/" target="_blank">
              <img src="/assets/Images/youtube.png" alt="" />
            </a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="copyRight">
      <p>&copy; Amanda Stephany 2024</p>
    </div>
  </div>
</footer>
