/* CSS Global */

ul li,
.flexContainer .socialNetworks li {
  list-style: none;
}

img {
  cursor: pointer;
}

.header,
.footer {
  background: var(--gray200);
}

.header .title-attorney,
.attorneyInfo .aboutAttorney h1,
.latestPost .titleLatest h1,
.aboutPost h1,
.copyRight p {
  color: var(--gray800);
  transition: color 0.3s ease-in;
  cursor: pointer;
}

.header .title-attorney {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--blue150);
  transition: color 0.3s ease-in;
}

.header .title-attorney:hover {
  color: var(--blue200);
}

.search input,
.formNewsletter div:nth-child(2) input {
  border: 0.1rem solid var(--gray150);
  box-shadow: 0 0.1rem 0.125rem 0 rgba(0, 0, 0, 0.05);
  transition: all 0.3s ease-out;
}

.search img {
  width: 1.3rem;
}

.search label {
  position: relative;
}

.search label input {
  padding-right: 2.5rem;
  box-sizing: border-box;
}

.search button {
  border: none;
  position: absolute;
  top: -0.1rem;
  right: 0.5rem;
  background: transparent;
}

.search input:focus,
.formNewsletter div:nth-child(2) input:focus {
  outline: none;
  border-color: var(--blue100);
  box-shadow: 0 0 0 0.188rem rgba(66, 153, 225, 0.5);
}

.navegation-auth li a,
.navegation-auth li,
.datePost span,
.copyRight p,
.aboutPost p {
  color: var(--blackFull);
  transition: color 0.3s ease-in;
  cursor: pointer;
}

.navegation-auth .userDetails {
  display: flex;
  align-items: center;
}

.navegation-auth .doorImage {
  width: 1.6rem;
}

.navegation-auth .userImage {
  width: 2.4rem;
}

.navegation-auth li a:hover,
.navegation-auth li:hover,
.datePost span:hover,
.copyRight p:hover,
.latestPost .titleLatest h1:hover,
.post .datePost p:hover,
.aboutPost h1:hover,
.attorneyInfo .aboutAttorney h1:hover,
.attorneyInfo .aboutAttorney p:hover,
.containerPost .aboutPost p:hover,
.footer .flexContainer h1:hover {
  color: var(--gray600);
  cursor: pointer;
}

.attorneyInfo img {
  width: 100%;
  height: auto;
  aspect-ratio: 1;
}

.attorneyInfo .aboutAttorney p,
.aboutPost p {
  text-align: justify;
}

.containerPost .post img {
  height: auto;
  filter: drop-shadow(0.1rem 0.1rem 0.1rem var(--blackFull));
  border-radius: 0.3rem;
  aspect-ratio: 1;
}

.redirectToAbout a,
.formNewsletter button {
  background: var(--blue200);
  color: var(--white900);
  transition: 0.3s ease-in;
  cursor: pointer;
}

.redirectToAbout a:hover,
.formNewsletter button:hover {
  background: var(--blue150);
  color: var(--whiteFull);
}

.post .datePost p {
  color: var(--orange600);
  transition: color 0.3s ease-in;
  cursor: pointer;
}

.socialNetworks img {
  width: 1.5rem;
  height: auto;
}

.post .datePost p:hover {
  color: var(--orange800);
}

.flexContainer div:nth-child(2) input::placeholder {
  color: var(--blueIce);
}

.footer div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.post {
  justify-self: center;
}
