/* CSS Global */
.header {
  background: var(--gray200);
}
.header .title-attorney {
  color: var(--blue400);
  font-size: 1.5rem;
  font-weight: 600;
}
.search input {
  border: 0.1rem solid var(--gray150);
}
.search input:focus {
  outline: none;
  border-color: var(--blue100);
  box-shadow: 0 0 0 0.13rem rgba(66, 153, 225, 0.5);
}
.navegation-auth li a {
  color: var(--gray800);
  cursor: pointer;
}
.navegation-auth li a:hover {
  color: var(--gray600);
}
.attorneyInfo {
  /* background: var(--red500); */
}

.attorneyInfo img {
  width: 100%;
  height: auto;
  aspect-ratio: 1;
}

.attorneyInfo .aboutAttorney h1 {
  color: var(--yellow800);
}
.attorneyInfo .aboutAttorney p {
  text-align: justify;
  color: var(--whiteFull);
}
.attorneyInfo a {
  background: var(--yellow800);
}
.latestPost .titleLatest h1 {
  color: var(--gray800);
}
.latestPost .titleLatest h1:hover {
  color: var(--gray600);
  cursor: pointer;
}
.post .datePost p {
  color: var(--orange600);
  cursor: pointer;
}
.post .datePost p:hover {
  color: var(--orange800);
}
.datePost span {
  color: var(--gray800);
  cursor: pointer;
}
.datePost span:hover {
  color: var(--gray600);
}
.aboutPost h1 {
  color: var(--gray800);
}
.aboutPost p {
  text-align: justify;
  color: var(--gray500);
}
.aboutPost h1:hover {
  color: var(--gray600);
}
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--gray200);
}
.footer div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.flexContainer div:nth-child(2) input {
  box-shadow: 0 0.1rem 0.125rem 0 rgba(0, 0, 0, 0.05);
  color: var(--blue600);
  ::placeholder {
    color: var(--blueIce);
  }
}
.flexContainer div:nth-child(2) input:focus {
  outline: none;
  border-color: --blue100;
  box-shadow: 0 0 0 0.188rem rgba(66, 153, 225, 0.5);
}
.flexContainer div:nth-child(2) button {
  background: var(--blue100);
}
.flexContainer div:nth-child(2) button:hover {
  background: var(--blue150);
}
.flexContainer .socialNetworks li {
  list-style: none;
}
.copyRight p {
  color: var(--gray800);
  cursor: pointer;
}
.copyRight p:hover {
  color: var(--gray600);
}

@media only screen and (min-width: 1024px) {
  .header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
  }
  .search input {
    padding: 0.5rem;
    border-radius: 0.8rem;
    font-size: 1rem;
  }
  .navegation-auth ul {
    display: flex;
    gap: 0.7rem;
  }
  .navegation-auth ul li {
    list-style: none;
  }
  Main {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    min-height: 100vh;
  }
  .attorneyInfo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    gap: 9rem;
  }

  .attorneyInfo img {
    width: 50rem;
    box-sizing: border-box;
    aspect-ratio: 1;
    object-fit: cover;
  }

  .attorneyInfo .aboutAttorney {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 35rem;
  }
  .attorneyInfo .aboutAttorney h1 {
    font-size: 2.1rem;
  }
  .attorneyInfo .aboutAttorney p span {
    opacity: 0.4;
  }
  .attorneyInfo a {
    padding: 1rem;
    width: 6.5rem;
    border-radius: 0.3rem;
  }
  .attorneyInfo .redirectToAbout {
    margin-top: 1rem;
    display: flex;
  }
  .latestPost {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .latestPost .titleLatest h1 {
    font-size: 2.25rem;
    margin-bottom: 3rem;
    cursor: pointer;
  }
  .containerPost {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 5rem;
    justify-content: center;
  }
  .containerPost .post {
    width: 30rem;
  }
  .containerPost img {
    border: 0.125rem solid black;
  }
  .datePost {
    display: flex;
    gap: 0.3rem;
  }
  .aboutPost h1 {
    font-size: 2.25rem;
    font-weight: bold;
    margin: 0.5rem 0 0.5rem 0;
  }
  .flexContainer {
    display: flex;
    padding: 1rem;
  }
  .flexContainer div:nth-child(1) h1 {
    font-size: 2rem;
  }
  .flexContainer div:nth-child(2) input {
    width: 35rem;
    padding: 1rem;
    display: block;
    border: none;
    border-radius: 1rem;
    font-size: 0.875rem;
  }
  .flexContainer div:nth-child(2) p {
    font-size: 0.9rem;
  }
  .flexContainer div:nth-child(2) button {
    padding: 0.5rem 1rem;
    border-radius: 2rem;
    color: var(--whiteFull);
    font-size: 1.25rem;
    transition: background 0.3s ease;
    border: none;
    width: 10rem;
  }
  .flexContainer div:nth-child(3) p {
    font-size: 1.1rem;
  }
  .flexContainer div:nth-child(4) {
    margin: 3rem 0 2rem 0;
  }
  .flexContainer .socialNetworks {
    display: flex;
    gap: 0.5rem;
    margin-top: 3rem;
  }
  .flexContainer .socialNetworks li img {
    width: 1.875rem;
    height: 1.875rem;
  }
}
