.main {
  display: flex;
  align-items: center;
  min-height: 100vh;
}

.post img {
  width: 100%;
  height: 100%;
}

.post {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: blue;
  margin: 0 auto;
  width: calc(100% - 50rem);
}
