@media only screen and (min-width: 320px) and (max-width: 479px) {
  .ContainerFlex {
    display: flex;
    gap: 1.5rem;
    max-width: 25rem;
    height: auto;
    padding: 1rem;
  }

  .ContainerFlex h1 {
    font-size: 1.7rem;
  }

  .redirectLogin,
  .redirectRegister {
    position: relative;
  }

  .redirectLogin {
    justify-self: center;
  }

  .redirectRegister {
    justify-self: center;
  }

  .activeEffectInRoute {
    width: 50%;
    height: 0.2rem;
    background: var(--blue150);
    position: absolute;
    bottom: -0.185rem;
    border-radius: 0.1rem;
  }

  .active-login::after {
    content: "";
    width: 50%;
    height: 0.2rem;
    background: var(--blue150);
    position: absolute;
    bottom: -0.185rem;
    left: 0;
    border-radius: 0.1rem;
  }

  .active-register::after {
    content: "";
    width: 50%;
    height: 0.2rem;
    background: var(--blue150);
    position: absolute;
    bottom: -0.185rem;
    right: 0;
    border-radius: 0.1rem;
  }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
}
