<section class="AuthPage">
  <div class="ContainerFlex">
    @if (routerLogin) {
    <h1>Login</h1>
    } @else {
    <h1>Cadastrar</h1>
    }

    <div
      class="LinksOutlet"
      [ngClass]="{
        'active-login': isActiveRoute('/auth-user/login'),
        'active-register': isActiveRoute('/auth-user/cadastro')
      }"
    >
      <a class="Login" href="auth-user/login">Login</a>
      <a class="register" href="auth-user/cadastro">Cadastrar</a>
    </div>

    <div class="RouterOutlet">
      <router-outlet />
    </div>
  </div>
</section>
