<section class="post-creator">
  <main class="main">
    <div class="ToastContainer">
      <app-toast [message]="TOAST_MESSAGE" />
    </div>
    <form (ngSubmit)="onSubmit()" [formGroup]="createPostForm" class="FormPost">
      <section class="RedirectAndTitle">
        <div class="Icons">
          <a title="Página inicial" href="/" class="redirectHome">
            <img src="/assets/Images/home.png" alt="Home" />
          </a>
        </div>
        <div>
          <h1>Criar Post</h1>
        </div>
        <div>
          <a
            href="/admin/manage-post"
            class="redirectManage"
            title="Gerenciar Posts"
            ><img src="/assets/Images/settings.png" alt=""
          /></a>
        </div>
      </section>

      <div>
        <label>
          Título do post
          <textarea formControlName="title" name="" class="title"></textarea>
        </label>
      </div>
      <div>
        <label
          >Descrição do post
          <textarea formControlName="description" name="" class="description">
          </textarea>
        </label>
      </div>

      <section class="FileAndSubmit">
        <div>
          <label
            ><input
              formControlName="image"
              type="file"
              (change)="onFileSelected($event)"
          /></label>
        </div>
        <div>
          <input type="submit" value="Criar post" />
        </div>
      </section>
    </form>
  </main>
</section>
