@keyframes enterSectionInView {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@media only screen and (min-width: 320px) and (max-width: 479px) {
  .main {
    width: calc(100% - 3rem);
    margin: 0 auto;
  }

  .attorneyInfo {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 2rem;
  }

  .attorneyInfo img {
    width: 100%;
    border-radius: 0.3rem;
    aspect-ratio: 1;
    filter: drop-shadow(0.1rem 0.1rem 0.1rem var(--blackFull));
    cursor: pointer;
  }

  .attorneyInfo .aboutAttorney div {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
  }

  .attorneyInfo .aboutAttorney h1 {
    font-size: 1.2rem;
    font-weight: 600;
  }

  .attorneyInfo .aboutAttorney p span {
    opacity: 70%;
  }

  .redirectToAbout {
    margin: 1rem 0 1rem 0;
    width: 7rem;
  }

  .redirectToAbout a {
    padding: 0.6rem;
    border-radius: 0.3rem;
  }

  .latestPost,
  .latestPost .containerPost {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .latestPost .titleLatest {
    margin: 0 auto;
  }

  .latestPost .containerPost {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    transform: translateX(-100%);
  }

  .containerPost.visible {
    animation: enterSectionInView 1.5s forwards;
  }

  .post img {
    width: 100%;
    height: auto;
  }

  .post {
    margin: 0 auto;
    width: calc(100% - 3.5rem);
  }

  .containerPost .post div,
  .containerPost .post .aboutPost h1 {
    margin-bottom: 0.5rem;
  }

  .containerPost .datePost {
    display: flex;
    gap: 0.5rem;
  }

  .containerPost .aboutPost h1 {
    font-size: 1.2rem;
    font-weight: 600;
    transition: 0.3s ease-in;
  }

  .footer {
    margin-top: 6rem;
  }

  .footer .formNewsletter {
    display: flex;
    flex-direction: column;
  }

  .formNewsletter h1 {
    font-size: 1.1rem;
    transition: 0.3s ease-in;
    font-weight: 600;
    margin-top: 1.4rem;
  }

  .formNewsletter input {
    padding: 0.3rem;
    border: none;
    border-radius: 0.3rem;
    width: calc(100vw - 4rem);
    margin-top: 0.5rem;
  }

  .formNewsletter p {
    text-align: center;
    font-size: 0.85rem;
    width: calc(100vw - 2rem);
  }

  .formNewsletter button {
    padding: 0.5rem;
    width: 7rem;
    border: none;
    border-radius: 0.2rem;
    transition: 0.3s ease-in;
    background: var(--blue200);
    color: var(--white900);
  }

  .socialNetworks {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
    flex-wrap: wrap;
  }

  .socialNetworks img {
    width: 2rem;
    height: auto;
  }

  .copyRight p {
    margin-bottom: 1rem;
    font-size: 1rem;
  }
}

@media only screen and (min-width: 480px) and (max-width: 768px) {
  .attorneyInfo {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 2rem;
  }

  .containerImage {
    display: flex;
    justify-content: center;
  }

  .attorneyInfo img {
    width: calc(100% - 1.5rem);
    border-radius: 0.3rem;
    background: blue;
    aspect-ratio: 1;
    filter: drop-shadow(0.1rem 0.1rem 0.1rem var(--blackFull));
    cursor: pointer;
  }

  .attorneyInfo .aboutAttorney {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
  }

  .attorneyInfo .aboutAttorney h1 {
    font-size: 1.1rem;
    font-weight: 600;
  }

  .attorneyInfo .aboutAttorney p,
  .attorneyInfo .aboutAttorney h1,
  .containerPost .aboutPost h1,
  .containerPost .aboutPost p,
  .footer .formNewsletter h1 {
    color: var(--gray800);
    transition: 0.3s ease-in;
  }

  .attorneyInfo .aboutAttorney p span {
    opacity: 70%;
  }

  .redirectToAbout {
    margin: 1rem 0 1rem 0;
  }

  .redirectToAbout a {
    padding: 0.6rem;
    border-radius: 0.3rem;
    background: var(--blue200);
    color: var(--white900);
    transition: 0.3s ease-in;
  }

  .titleLatest {
    margin: 0 auto;
  }

  .latestPost {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
  }

  .containerPost.visible {
    animation: animationLazy 1.5s forwards;
  }

  .post div,
  .post .aboutPost h1 {
    margin-bottom: 0.5rem;
  }

  .post {
    width: 100%;
    max-width: 27rem;
    margin-bottom: 4rem;
  }

  .post img {
    width: 100%;
    margin: 0 auto;
  }

  .containerPost .datePost {
    display: flex;
    gap: 0.5rem;
  }

  .containerPost .aboutPost h1 {
    font-size: 1.2rem;
    font-weight: 600;
    transition: 0.3s ease-in;
  }

  .footer {
    margin-top: 6rem;
  }

  .footer .formNewsletter {
    display: flex;
    flex-direction: column;
  }

  .formNewsletter h1 {
    font-size: 1.1rem;
    transition: 0.3s ease-in;
    font-weight: 600;
    margin-top: 1.4rem;
  }

  .formNewsletter input {
    padding: 0.5rem;
    border: none;
    border-radius: 0.3rem;
    width: calc(100vw - 4.5rem);
    margin-top: 0.5rem;
  }

  .formNewsletter p {
    text-align: center;
    font-size: 0.85rem;
    width: calc(100vw - 2rem);
  }

  .formNewsletter button {
    padding: 0.5rem;
    width: 7rem;
    border: none;
    border-radius: 0.2rem;
    transition: 0.3s ease-in;
    background: var(--blue200);
    color: var(--white900);
  }

  .socialNetworks {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
    flex-wrap: wrap;
  }

  .socialNetworks img {
    width: 2rem;
  }

  .copyRight p {
    margin-bottom: 1rem;
    font-size: 1rem;
    color: var(--blackFull);
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .main {
    width: calc(100% - 5rem);
    margin: 3rem auto;
  }

  .attorneyInfo {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    margin-bottom: 5rem;
  }

  .containerImage {
    grid-column: 1;
  }

  .containerImage img {
    width: 100%;
    border-radius: 0.3rem;
    filter: drop-shadow(0.1rem 0.1rem 0.1rem var(--blackFull));
  }

  .aboutAttorney {
    grid-column: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .aboutAttorney h1 {
    margin-bottom: 0.7rem;
    color: red;
  }

  .aboutAttorney p {
    margin-bottom: 0.5rem;
    transition: color 0.3s ease-out;
  }

  .redirectToAbout {
    cursor: pointer;
    margin-top: 1rem;
  }

  .redirectToAbout a {
    padding: 0.5rem;
    border-radius: 0.3rem;
  }

  .latestPost .titleLatest {
    display: flex;
    justify-content: center;
  }

  .titleLatest h1 {
    font-size: 1.8rem;
  }

  .containerPost {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 3rem;
  }

  .post img {
    width: 100%;
  }

  .post {
    width: 20rem;
    margin-bottom: 3rem;
  }

  .datePost {
    display: flex;
    margin: 0.1rem 0 0.7rem 0;
    gap: 0.3rem;
  }

  .socialNetworks {
    display: flex;
    gap: 0.7rem;
  }

  .formNewsletter {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .formNewsletter h1 {
    font-size: 1.5rem;
    margin-top: 2rem;
  }

  .formNewsletter input {
    width: 40rem;
    padding: 0.5rem;
    border-radius: 0.3rem;
    font-weight: 500;
  }

  .formNewsletter button {
    padding: 0.5rem;
    width: 9rem;
    border-radius: 0.3rem;
    border: none;
    font-size: 0.9rem;
  }

  .socialNetworks img {
    width: 2rem;
  }

  .copyRight {
    margin-bottom: 1rem;
  }

  .copyRight p {
    font-size: 1.1rem;
  }
}

@media only screen and (min-width: 1025px) {
  .attorneyInfo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    gap: 3rem;
    z-index: 1;
    position: relative;
    min-height: 45rem;
  }

  .attorneyInfo::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("/assets/Images/justica3.jpg") no-repeat bottom;
    background-size: cover;
    z-index: -1;
    opacity: 0.6;
  }

  .attorneyInfo img {
    width: 35rem;
    box-sizing: border-box;
    aspect-ratio: 1;
    object-fit: cover;
    border-radius: 0.2rem;
    filter: drop-shadow(0.1rem 0.1rem 0.1rem var(--blackFull));
  }

  .attorneyInfo .aboutAttorney {
    width: 35rem;
  }

  .aboutAttorney div:nth-child(1) {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .attorneyInfo .aboutAttorney h1 {
    font-size: 2.1rem;
  }

  .aboutAttorney p {
    line-height: 1.4rem;
  }

  .attorneyInfo .aboutAttorney p span {
    opacity: 0.4;
  }

  .aboutAttorney a {
    padding: 0.7rem;
    border-radius: 0.3rem;
  }

  .attorneyInfo .redirectToAbout {
    margin-top: 1rem;
  }

  .latestPost .titleLatest {
    display: flex;
    justify-content: center;
  }

  .latestPost .titleLatest h1 {
    font-size: 2.25rem;
    margin-bottom: 3rem;
    cursor: pointer;
  }

  .containerPost {
    padding-bottom: 6rem;
  }

  .containerPost.visible {
    animation: animationLazy 1.5s forwards;
  }

  .containerPost .post {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 4rem;
    gap: 3rem;
    max-width: calc(100% - 5rem);
    margin: 0 auto;
  }

  .post li {
    width: 20%;
  }

  .post .imagePost {
    width: 100%;
    height: 10rem;
    background-color: aqua;
    transition: transform 0.3s ease-out;
  }

  .post .imagePost:hover {
    transform: scale(1.03);
  }

  .datePost {
    display: flex;
    gap: 0.3rem;
    margin-top: 0.5rem;
  }

  .aboutPost {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .aboutPost .title {
    font-size: 1.6rem;
    font-weight: bold;
    margin: 0.5rem 0 0.5rem 0;
  }

  .aboutPost .description {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    min-height: 8rem;
    overflow: hidden;
    line-clamp: 3;
  }

  .formNewsletter {
    padding: 1rem;
  }

  .formNewsletter div:nth-child(1) h1 {
    font-size: 1.8rem;
    margin-bottom: 0.5rem;
  }

  .formNewsletter div:nth-child(2) input {
    width: 35rem;
    padding: 1rem;
    display: block;
    border: none;
    border-radius: 1rem;
    font-size: 0.875rem;
  }

  .formNewsletter div:nth-child(2) p {
    font-size: 0.9rem;
  }

  .formNewsletter div:nth-child(2) button {
    padding: 0.5rem 1rem;
    border-radius: 2rem;
    color: var(--whiteFull);
    font-size: 1.25rem;
    transition: background 0.3s ease;
    border: none;
    width: 10rem;
  }

  .formNewsletter button:hover {
    background: var(--blue150);
    color: var(--whiteFull);
    cursor: pointer;
  }

  .formNewsletter div:nth-child(3) p {
    font-size: 1.1rem;
  }

  .formNewsletter div:nth-child(4) {
    margin: 3rem 0 2rem 0;
  }

  .footer .socialNetworks {
    display: flex;
    gap: 0.5rem;
    margin-top: 3rem;
  }

  .footer {
    padding-bottom: 1rem;
  }

  .socialNetworks li img {
    width: 1.875rem;
    height: auto;
  }
}
