.ContainerLoginForm {
  display: flex;
  width: 100%;
}

.FormLogin {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  height: auto;
}

.FormLogin label {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 1;
}

.FormLogin .ImageEye {
  position: absolute;
  top: 0.5rem;
  right: 0.2rem;
  z-index: 2;
  width: 1.5rem;
}

.FormLogin .AlertCircle {
  position: absolute;
  right: -1.7rem;
  top: 0.5rem;
  cursor: pointer;
}

.FormLogin .InputEmail,
.FormLogin .InputPassword {
  padding: 0.6rem;
  border: none;
  background: var(--gray150);
  border: 0.1rem solid var(--gray300);
  width: 17rem;
  color: var(--black900);
  font-size: 1rem;
  box-sizing: border-box;
  transition: border 0.2s ease-out;
}

.FormLogin .InputEmail:focus,
.FormLogin .InputPassword:focus {
  outline: none;
}

.FormLogin a {
  color: var(--blue200);
}

.FormLogin img {
  width: 1.7rem;
  z-index: 2;
}

.FormLogin .InputSubmit {
  width: 100%;
  font-size: 1rem;
  padding: 0.6rem;
  background: var(--blue100);
  border: none;
  color: var(--white900);
  transition: background 0.3s ease, color 0.3s ease;
  border-radius: 0.2rem;
}

.FormLogin .InputSubmit:hover {
  background: var(--blue150);
  color: var(--whiteFull);
}

.FormLogin .InputPassword {
  padding-right: 2.3rem;
}

.ErrorInput {
  border: 0.1rem solid var(--red800) !important;
}

.AcceptInput {
  border: 0.1rem solid var(--green100) !important;
}
