<main class="MainLoginForm">
  <div class="toastContainer">
    <app-toast [message]="TOAST_MESSAGE" />
  </div>
  <form (ngSubmit)="onSubmit()" [formGroup]="loginForm" class="FormLogin">
    <div class="RedirectHome">
      <a href="/">
        <img
          src="/assets/Images/home.png"
          alt="Página inicial"
          title="Página inicial"
        />
      </a>
    </div>
    <div>
      <h1>Login</h1>
    </div>
    <div>
      <label>
        <input
          formControlName="email"
          class="InputEmail"
          type="email"
          placeholder="email"
          required
          (input)="changeEmailField()"
          (focus)="focusEmailField()"
          (blur)="blurEmailField()"
          #emailInput
        />
        <img
          src="/assets/Images/alertCicle.svg"
          alt="ícone de alerta"
          class="AlertCircle"
          *ngIf="loginForm.controls['email'].hasError('emailFieldError')"
          [title]="loginForm.controls['email'].errors?.['emailFieldError']"
        />
      </label>
    </div>
    <div>
      <label>
        <input
          formControlName="password"
          class="InputPassword"
          placeholder="senha"
          required
          [type]="SHOW_PASSWORD ? 'text' : 'password'"
          #passwordInput
          (input)="changePasswordField()"
          (blur)="blurPasswordField()"
          (focus)="focusPasswordField()"
        />
        <img
          class="ImageEye"
          src="/assets/Images/{{ SHOW_PASSWORD ? 'eyeOff.svg' : 'eye.svg' }}"
          alt="{{ SHOW_PASSWORD ? 'olhos fechados' : 'olhos abertos' }}"
          (click)="togglePasswordVisibility($event)"
        />
        <img
          src="/assets/Images/alertCicle.svg"
          alt="ícone de alerta"
          class="AlertCircle"
          *ngIf="loginForm.controls['password'].hasError('passwordFieldError')"
          [title]="loginForm.controls['password'].errors?.['passwordFieldError']"
        />
      </label>
    </div>
    <div class="ContainerRedirect">
      <p>Não possui conta? <a href="/cadastro">Cadastrar</a></p>
      <a href="/forgot-password">Esqueceu a senha?</a>
    </div>
    <input class="InputSubmit" type="submit" value="Login" />
  </form>
</main>
