.toast {
  position: fixed;
  top: 1.25rem;
  right: 1.25rem;
  background: var(--gray400);
  color: var(--whiteFull);
  padding: 0.625rem;
  border-radius: 0.313rem;
  opacity: 0;
  transition: opacity 0.5s;
}

.toast.show {
  opacity: 1;
}
