<header>
  <app-header />
</header>

<main class="Main">
  <section class="AttorneyInfo">
    <div>
      <img src="/assets/Images/advocacia.png" alt="Imagem de Amanda Stephany" />
    </div>
    <div>
      <div class="AboutAttorney">
        <h1>
          Quem é Amanda<br />
          Stephany?
        </h1>
        <p>
          Amanda Stephany é uma advogada especializada em direitos bancários,
          com vasta experiência na área.
        </p>
        <p>
          Ela possui uma formação sólida em direito e tem se destacado por sua
          expertise no campo dos direitos relacionados a transações bancárias,
          contratos financeiros e litígios envolvendo instituições financeiras.
        </p>
        <p>
          Com um profundo conhecimento das leis e regulamentos do setor
          bancário, Amanda é reconhecida por sua capacidade de oferecer soluções
          jurídicas eficazes para seus clientes.
        </p>
        <p>
          Sua habilidade em lidar com questões complexas e sua dedicação em
          proteger os interesses de seus clientes fazem dela uma profissional
          <span> altamente respeitada e confiável no mercado jurídico. </span>
        </p>
      </div>
      <div class="RedirectToAbout">
        <a href="/about-amanda">Ler mais...</a>
      </div>
    </div>
  </section>
  <section class="LatestPost">
    <div class="TitleLatest">
      <h1>Mais recente</h1>
    </div>
    <div class="ContainerPost">
      <div class="Post">
        <div>
          <a href="/">
            <img
              src="/assets/Images/advocacia.png"
              width="450"
              height="350"
              alt=""
            />
          </a>
        </div>

        <div class="DatePost">
          <a href="/">
            <p>Criado em:</p>
          </a>
          <a href="/">
            <span>Maio, 10 2024</span>
          </a>
        </div>

        <div class="AboutPost">
          <a href="/">
            <h1>O que fazer quando o banco cobra juros</h1>
          </a>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard dummy text
            ever since the 1500s, when an unknown printer took a galley of type
            and scrambled it to make a type specimen book.
          </p>
        </div>
      </div>

      <div class="Post">
        <div>
          <a href="/">
            <img
              src="/assets/Images/advocacia.png"
              width="450"
              height="350"
              alt=""
            />
          </a>
        </div>

        <div class="DatePost">
          <a href="/">
            <p>Criado em:</p>
          </a>
          <a href="/">
            <span>Maio, 10 2024</span>
          </a>
        </div>

        <div class="AboutPost">
          <a href="/">
            <h1>O que fazer quando o banco cobra juros</h1>
          </a>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard dummy text
            ever since the 1500s, when an unknown printer took a galley of type
            and scrambled it to make a type specimen book.
          </p>
        </div>
      </div>

      <div class="Post">
        <div>
          <a href="/">
            <img
              src="/assets/Images/advocacia.png"
              width="450"
              height="350"
              alt=""
            />
          </a>
        </div>

        <div class="DatePost">
          <a href="/">
            <p>Criado em:</p>
          </a>
          <a href="/">
            <span>Maio, 10 2024</span>
          </a>
        </div>

        <div class="AboutPost">
          <a href="/">
            <h1>O que fazer quando o banco cobra juros</h1>
          </a>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard dummy text
            ever since the 1500s, when an unknown printer took a galley of type
            and scrambled it to make a type specimen book.
          </p>
        </div>
      </div>

      <div class="Post">
        <div>
          <a href="/">
            <img
              src="/assets/Images/advocacia.png"
              width="450"
              height="350"
              alt=""
            />
          </a>
        </div>

        <div class="DatePost">
          <a href="/">
            <p>Criado em:</p>
          </a>
          <a href="/">
            <span>Maio, 10 2024</span>
          </a>
        </div>

        <div class="AboutPost">
          <a href="/">
            <h1>O que fazer quando o banco cobra juros</h1>
          </a>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard dummy text
            ever since the 1500s, when an unknown printer took a galley of type
            and scrambled it to make a type specimen book.
          </p>
        </div>
      </div>

      <div class="Post">
        <div>
          <a href="/">
            <img
              src="/assets/Images/advocacia.png"
              width="450"
              height="350"
              alt=""
            />
          </a>
        </div>

        <div class="DatePost">
          <a href="/">
            <p>Criado em:</p>
          </a>
          <a href="/">
            <span>Maio, 10 2024</span>
          </a>
        </div>

        <div class="AboutPost">
          <a href="/">
            <h1>O que fazer quando o banco cobra juros</h1>
          </a>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard dummy text
            ever since the 1500s, when an unknown printer took a galley of type
            and scrambled it to make a type specimen book.
          </p>
        </div>
      </div>

      <div class="Post">
        <div>
          <a href="/">
            <img
              src="/assets/Images/advocacia.png"
              width="450"
              height="350"
              alt=""
            />
          </a>
        </div>

        <div class="DatePost">
          <a href="/">
            <p>Criado em:</p>
          </a>
          <a href="/">
            <span>Maio, 10 2024</span>
          </a>
        </div>

        <div class="AboutPost">
          <a href="/">
            <h1>O que fazer quando o banco cobra juros</h1>
          </a>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard dummy text
            ever since the 1500s, when an unknown printer took a galley of type
            and scrambled it to make a type specimen book.
          </p>
        </div>
      </div>
    </div>
  </section>
</main>

<footer>
  <app-footer />
</footer>
