/* CSS Global */

ul li {
  list-style: none;
}

.main-container {
  min-height: 100vh;
  background: url("/assets/Images/justica3.jpg") no-repeat center;
  background-size: cover;
}

.header img:hover {
  cursor: pointer;
}

.header h1 {
  transition: color 0.3s ease-in;
}

.header h1:hover {
  cursor: pointer;
  color: var(--gray600);
}

.show-user button:hover {
  cursor: pointer;
}
