<main class="MainContainer">
  <section class="ContentManager">
    <article class="Menu">
      <h1>Admin</h1>

      <div class="Navegation">
        <div>
          <a href="/">Home</a>
        </div>
        <div>
          <a href="/published">Posts publicados</a>
        </div>
        <div>
          <a href="/unpublished">Não publicados</a>
        </div>
      </div>
    </article>
    <article class="Dashboard">
      <div>
        <h1>teste</h1>
      </div>
    </article>
  </section>
</main>
