<main class="main-container">
  <section class="content-manager">
    <article class="menu">
      <header class="header">
        <h1>Painel Admin</h1>
        <img
          src="/assets/Images/menu-hamburguer.svg"
          alt="Menu hambúrguer"
          class="burguer"
        />
        <div class="navegation">
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="admin/manage-post/published">Publicados</a></li>
            <li>
              <a href="admin/manage-post/unpublished">Não publicados</a>
            </li>
            <li><a href="/admin/createPost">Postar</a></li>
          </ul>
        </div>
      </header>
    </article>

    <article class="container-search">
      <div class="separator">
        <label>
          <input
            class="search"
            type="text"
            placeholder="Procure pelo id ou titulo"
          />
          <img
            class="magnifying-glass"
            src="/assets/Images/search.png"
            alt="lupa"
          />
        </label>

        <div class="show-user">
          <app-show-user />
          <button title="Desconectar">
            <img src="/assets/Images/exit.png" alt="" />
          </button>
        </div>
      </div>

      <article class="render-posts">
        <div class="router-outlet">
          <router-outlet />
        </div>
      </article>
    </article>
  </section>
</main>
