:root {
  --whiteFull: #fff;
  --white900: #f5f2f2;
  --blackFull: #000;
  --black900: #111;
  --black800: #363636;
  --gray150: #e2e8f0;
  --gray200: #ebebeb;
  --gray300: #d5d5d5;
  --gray400: #c2c2c2;
  --gray500: #6b7280;
  --gray800: #2d3748;
  --gray600: #4a5568;
  --blue100: #60a5fa;
  --blue150: #3b82f6;
  --blue200: #3778e0;
  --blue400: #1e40af;
  --blue600: #4a5568;
  --blueIce: #a0aec0;
  --red800: #e02620;
  --red500: #bb3f3a;
  --yellow800: #e9e910;
  --orange600: #d97706;
  --orange800: #9c4221;
  --green100: #2df74f;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif, Arial;
}

a {
  text-decoration: none;
}
